//COLORS
$color-heading-secondary: #252334;

$color-primary: #8a50a0;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #f5f4fb;

$color-grey: rgb(200, 200, 200);

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-blue-grey: #e2e9eb;

$color-btn-green: #71c2c1;


//FONT
$default-font-size: 1.2rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 4rem;